
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<h1>Email has been sent to you please CheckYourInbox <a href="https://mail.google.com/">click here</a> </h1>

