@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<h1>ForgetPassword</h1>
<div class="text-danger" asp-validation-summary="All" style="text-align:center"> </div>
<div class="agileits-top" style=" display:flex; justify-content:center">
    <form asp-action="ForgetPassword" >
        <label asp-for="@Model.Email" > </label>
        <input asp-for="@Model.Email" type="email"  style="width:400px; display:inline-block"   />
        <input type="submit" value="SendMail" style="width:150px; background-color:orangered">
    </form>
</div>